.Advisorscard {
    height: 380px;
    width: 350px;
    border: 2px solid rgb(108, 108, 250);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: linear-gradient(90deg, rgba(100, 125, 238, 0.05) 0%, rgba(167, 84, 226, 0.05) 100%);
    box-shadow:
    rgba(175, 187, 243, 0.4) 0px 5px,
    rgba(245, 199, 228, 0.3) 0px 10px,
    rgba(163, 128, 252, 0.2) 0px 15px;
    .advisor_name {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px 0 10px 0;
    }
    .advisor_bio {
        font-size: 20px;
        color: rgb(158, 132, 249);
    }
    .advisor_profile {
    }
}
