.content1_sec {
    display: flex;
    margin: auto;
    padding: 40px;
    @include largeScreen{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .content_cards {
        margin: auto;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 250px;
        width: 250px;
        border: 2px solid rgb(171, 171, 248);
        transition: 0.4s ease;
        transition-property: color, background-color, border-color;

        @include largeScreen{
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            height: 220px;
            width: 300px;
        }
        p {
            padding: 5px;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
        button {
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 35px;
            border-radius: 20px;
            background: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
            width: 100px;
            border: none;
            color: white;
            font-size: 15px;
            transition: 0.4s ease;
            text-transform: uppercase;
            cursor: pointer;
            &:hover {
                background: linear-gradient(90deg, #a754e2 0%, #647dee 100%);
                transition: 0.4s ease;
                transition-property: color, background-color;
            }
        }
    }
}
