* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: regular;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: regular;
  src: url(regular.otf);
}
.active {
  background-color: rgb(187, 128, 242);
  color: white;
}

.Navbar_main {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90px;
  justify-content: space-between;
  font-size: 20px;
  color: white;
  position: fixed;
  z-index: 2;
}
.Navbar_main .navbar_logo {
  padding: 0 0 0 90px;
}
@media (max-width: 992px) {
  .Navbar_main .navbar_logo {
    padding: 0 0 0 10px;
  }
}
.Navbar_main .navbar_content {
  padding: 10px;
}
@media (max-width: 992px) {
  .Navbar_main .navbar_content {
    display: none;
  }
}
.Navbar_main .navbar_features {
  margin: auto;
  display: flex;
  flex-direction: row;
}
.Navbar_main .navbar_features .links {
  text-decoration: none;
  color: white;
  justify-content: space-evenly;
  padding: 1.5rem;
}
.Navbar_main .navbar_features .links:hover {
  color: #647dee;
  transition: 0.4s ease;
  transition-property: color, background-color, border-color;
}
@media (max-width: 992px) {
  .Navbar_main .navbar_features {
    display: none;
  }
}
.Navbar_main .nav_signupbutton {
  padding: 0 50px;
}
@media (max-width: 992px) {
  .Navbar_main .nav_signupbutton {
    padding: 5px;
  }
}
.Navbar_main .nav_signupbutton button {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 20px;
  background: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
  padding: 23px;
  border: none;
  color: white;
  font-size: 20px;
  transition: 0.4s ease;
  text-transform: uppercase;
  cursor: pointer;
}
.Navbar_main .nav_signupbutton button:hover {
  background: linear-gradient(90deg, #a754e2 0%, #647dee 100%);
  transition: 0.4s ease;
  transition-property: color, background-color;
}
@media (max-width: 992px) {
  .Navbar_main .nav_signupbutton button {
    font-size: 15px;
    height: 25px;
  }
}
@media (max-width: 1600px) {
  .Navbar_main .menu_btn {
    display: none;
  }
}
@media (max-width: 992px) {
  .Navbar_main .menu_btn {
    display: block;
    color: white;
    font-size: 2rem;
  }
}

.colorchange {
  z-index: 2;
  top: 0;
  background-color: white;
  width: 100%;
  transition: all 1s ease;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  animation: navbar 1s ease;
}
@keyframes navbar {
  0% {
    top: 0%;
  }
}
.colorchange .navbar_features .links {
  color: #000;
}

.Heroseection_main {
  width: 80%;
  display: flex;
  margin: auto;
  height: 100svh;
}
@media (max-width: 992px) {
  .Heroseection_main {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100svh;
  }
}
.Heroseection_main .Hero_first_Buycoin {
  width: 50%;
  margin: auto;
  justify-content: center;
  line-height: 4rem;
}
@media (max-width: 576px) {
  .Heroseection_main .Hero_first_Buycoin {
    line-height: 3rem;
    padding-top: 50px;
  }
}
.Heroseection_main .Hero_first_Buycoin .buycointext {
  font-size: 65px;
  color: white;
}
@media (max-width: 576px) {
  .Heroseection_main .Hero_first_Buycoin .buycointext {
    font-size: 40px;
  }
}
.Heroseection_main .Hero_first_Buycoin p {
  font-size: 30px;
  color: white;
}
@media (max-width: 576px) {
  .Heroseection_main .Hero_first_Buycoin p {
    font-size: 25px;
  }
}
.Heroseection_main .Hero_first_Buycoin .hero_buttons {
  display: flex;
}
.Heroseection_main .Hero_first_Buycoin .hero_buttons .getstarted {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background-color: white;
  padding: 15px;
  border: none;
  color: blue;
  font-size: 20px;
}
.Heroseection_main .Hero_first_Buycoin .hero_buttons .getstarted:hover {
  background: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
  color: white;
}
.Heroseection_main .Hero_first_Buycoin .hero_buttons .whitepaper {
  margin: 0 25px;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
  padding: 15px;
  border: none;
  color: white;
  font-size: 20px;
}
.Heroseection_main .Hero_first_Buycoin .hero_buttons .whitepaper:hover {
  background: linear-gradient(90deg, #a754e2 0%, #647dee 100%);
}
@media (max-width: 992px) {
  .Heroseection_main .Hero_first_Buycoin {
    width: 100%;
    margin: auto;
    justify-content: center;
  }
  .Heroseection_main .Hero_first_Buycoin .hero_buttons .getstarted {
    width: 180px;
    font-size: 17px;
  }
  .Heroseection_main .Hero_first_Buycoin .hero_buttons .whitepaper {
    font-size: 17px;
    width: 180px;
  }
}
.Heroseection_main .Hero_twobuycoin_ico {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}
@media (max-width: 992px) {
  .Heroseection_main .Hero_twobuycoin_ico {
    width: 100%;
  }
}
.Heroseection_main .Hero_twobuycoin_ico .hero_form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 450px;
  width: 450px;
  border-radius: 20px;
  line-height: 3.5rem;
}
@media (max-width: 576px) {
  .Heroseection_main .Hero_twobuycoin_ico .hero_form {
    height: 350px;
  }
}
.Heroseection_main .Hero_twobuycoin_ico .hero_form .hero_heading h1 {
  font-size: 40px;
  letter-spacing: 4px;
}
@media (max-width: 576px) {
  .Heroseection_main .Hero_twobuycoin_ico .hero_form .hero_heading h1 {
    font-size: 25px;
  }
}
.Heroseection_main .Hero_twobuycoin_ico .hero_form .hero_heading p {
  align-items: center;
}
.Heroseection_main .Hero_twobuycoin_ico .hero_form .progressbardiv {
  display: flex;
  height: 36px;
  width: 290px;
  border-radius: 20px;
  border: 2px solid #647dee;
}
@media (max-width: 576px) {
  .Heroseection_main .Hero_twobuycoin_ico .hero_form .progressbardiv {
    width: 250px;
  }
}
.Heroseection_main .Hero_twobuycoin_ico .hero_form .progressbardiv .progress_bar {
  display: flex;
  height: 35px;
  width: 200px;
  justify-content: center;
  text-align: center;
  background-color: #647dee;
  border-radius: 20px;
  transition: width 0.6s ease;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.15) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 75%, transparent 75%, transparent);
  animation: animations 5s linear infinite;
}
@keyframes animations {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100px 0;
  }
}
@media (max-width: 576px) {
  .Heroseection_main .Hero_twobuycoin_ico .hero_form .progressbardiv .progress_bar {
    width: 170px;
  }
}
.Heroseection_main .Hero_twobuycoin_ico .hero_form .progressbardiv .mb_text {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
}
.Heroseection_main .Hero_twobuycoin_ico .hero_form .progressbardiv .mb_text h6 {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
  line-height: 0;
  color: #647dee;
  font-size: 15px;
  font-weight: 200;
}
@media (max-width: 576px) {
  .Heroseection_main .Hero_twobuycoin_ico .hero_form .progressbardiv .mb_text h6 {
    font-size: 13px;
  }
}
.Heroseection_main .Hero_twobuycoin_ico .hero_form .buytokens {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
  padding: 15px;
  border: none;
  color: white;
  font-size: 20px;
}
.Heroseection_main .Hero_twobuycoin_ico .hero_form .buytokens:hover {
  background: linear-gradient(90deg, #a754e2 0%, #647dee 100%);
}
@media (max-width: 576px) {
  .Heroseection_main .Hero_twobuycoin_ico .hero_form .buytokens {
    padding: 10px;
    font-size: 15px;
  }
}
.Heroseection_main .Hero_twobuycoin_ico .hero_form .icons {
  display: flex;
}
.Heroseection_main .Hero_twobuycoin_ico .hero_form .icons .reacticons {
  margin: 20px;
  font-size: 40px;
  color: rgb(180, 194, 244);
}

.sectiononemain {
  position: relative;
  height: 100svh;
  width: 100%;
  z-index: 1;
}
.sectiononemain .sectiononegradient {
  width: 100%;
  height: 100svh;
  opacity: 0.4;
  z-index: -1;
  position: absolute;
  background: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
}
.sectiononemain .main_home {
  width: 100%;
  height: 100svh;
}

.Section2_about {
  width: 100%;
  background-image: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
}
@media (max-width: 992px) {
  .Section2_about {
    width: 100%;
    height: 600px;
  }
}
.Section2_about .about_buycoin h1 {
  font-weight: 500;
  padding-top: 50px;
  color: white;
  text-align: center;
  font-size: 50px;
}
@media (max-width: 576px) {
  .Section2_about .about_buycoin h1 {
    font-size: 30px;
  }
}
.Section2_about .about_para {
  width: 70%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
  z-index: 1;
  position: absolute;
  margin-left: 12rem;
}
@media (max-width: 992px) {
  .Section2_about .about_para {
    width: 80%;
  }
}
.Section2_about .about_para .paragraph {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background-color: white;
  height: 220px;
  border-radius: 20px;
  line-height: 25px;
}
.Section2_about .about_para .paragraph:before {
  z-index: 2;
  left: 20px;
  right: 20px;
  height: 10px;
  bottom: -10px;
}
.Section2_about .about_para .paragraph::before {
  content: "";
  position: absolute;
  display: block;
  opacity: 0.2;
  background-image: linear-gradient(-60deg, #647dee 0%, #a754e2 100%);
  border-radius: 0 0 10px 10px;
  transition: 0.4s ease-in-out;
}
.Section2_about .about_para .paragraph p {
  width: 90%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.Section2_about .about_para .paragraph .bluetext {
  justify-content: center;
  align-items: center;
}
.Section2_about svg {
  display: block;
  z-index: 0;
  position: relative;
}

.cardsmain {
  height: 200px;
  width: 350px;
  position: relative;
}
.cardsmain .num {
  background-image: linear-gradient(to right, #647dee, #a754e2, #db2f2f);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.cardsmain .headings {
  font-size: 19px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.cardsmain .descriptions {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
}
.cardsmain::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  bottom: -40px;
  left: 35px;
  transform: translateX(-50%);
  border-radius: 3px;
  background-image: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
}

.Getstartedsec h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}
@media (max-width: 576px) {
  .Getstartedsec h1 {
    font-size: 30px;
  }
}
.Getstartedsec .buyoinpara {
  margin-top: 20px;
  text-align: center;
  color: blue;
  font-size: 25px;
  margin-bottom: 50px;
  position: relative;
}
.Getstartedsec .buyoinpara::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  background-image: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
}
@media (max-width: 576px) {
  .Getstartedsec .buyoinpara {
    font-size: 20px;
  }
}
.Getstartedsec .threedivs {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 70%;
  gap: 20px;
}
@media (max-width: 992px) {
  .Getstartedsec .threedivs {
    width: 90%;
    gap: 50px;
    display: flex;
    flex-direction: column;
  }
}

.section4main {
  height: 450px;
}
.section4main .container {
  border-radius: 20px;
  border: 2px solid blue;
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
  background: linear-gradient(90deg, rgba(100, 125, 238, 0.05) 0%, rgba(167, 84, 226, 0.05) 100%);
}
.section4main .container .containerlinks {
  margin: auto;
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.section4main .BTCsection {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  border: 2px solid rgb(145, 145, 246);
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(100, 125, 238, 0.05) 0%, rgba(167, 84, 226, 0.05) 100%);
}

.usdcardmain {
  height: 270px;
  width: 100%;
  border: 1px solid rgb(160, 160, 246);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  line-height: 2rem;
}
.usdcardmain .BTC {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.usdcardmain .doller {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.usdcardmain button {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  background: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
  width: 100px;
  border: none;
  color: white;
  font-size: 15px;
  transition: 0.4s ease;
  text-transform: uppercase;
  cursor: pointer;
}
.usdcardmain button:hover {
  background: linear-gradient(90deg, #a754e2 0%, #647dee 100%);
  transition: 0.4s ease;
  transition-property: color, background-color;
}

.section5main {
  background: linear-gradient(90deg, rgba(100, 125, 238, 0.05) 0%, rgba(167, 84, 226, 0.05) 100%);
}
.section5main h1 {
  padding: 50px 0 20px 0;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}
.section5main .section5text {
  text-align: center;
  font-size: 25px;
  color: blue;
  position: relative;
}
.section5main .section5text::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  background-image: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
}
.section5main .buycointemplate {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.cardsmainsec {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.cardsmainsec .images {
  font-size: 50px;
  color: rgb(87, 87, 203);
}
.cardsmainsec .heading {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.cardsmainsec .description {
  margin: 15px 0px 0 0;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
}

.roadmap_section {
  height: 550px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
@media (max-width: 992px) {
  .roadmap_section {
    width: 100%;
    height: 1000px;
  }
}
.roadmap_section h1 {
  text-align: center;
  padding: 20px 0 0 0;
  font-size: 50px;
  font-weight: 200;
}
@media (max-width: 576px) {
  .roadmap_section h1 {
    font-size: 40px;
  }
}
.roadmap_section .thornytext {
  text-align: center;
  padding: 30px 0 0 0;
  font-size: 25px;
  color: #455efc;
  position: relative;
}
.roadmap_section .thornytext::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  background-image: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
}
.roadmap_section .roadmap_timeline {
  width: 70%;
  align-items: center;
  margin: auto;
  justify-content: center;
}
.roadmap_section .roadmap_timeline ol li {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: auto;
}
.roadmap_section .roadmap_timeline ol {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.roadmap_section .roadmap_timeline ol:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: rgb(157, 157, 245);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: -1;
}
@media (max-width: 992px) {
  .roadmap_section .roadmap_timeline ol {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    width: 7px;
    background-color: rgb(157, 157, 245);
    left: 0;
    height: 100%;
  }
}
.roadmap_section .roadmap_timeline li {
  list-style-type: none;
  position: relative;
  cursor: pointer;
}
.roadmap_section .roadmap_timeline li:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #c881ec;
  border: 2px solid #c881ec;
  transition: background-color 0.2s ease;
}
@media (max-width: 992px) {
  .roadmap_section .roadmap_timeline li:after {
    display: block;
    margin-left: -8px;
  }
}
.roadmap_section .roadmap_timeline li:hover:after {
  background-color: #a16af3;
}
.roadmap_section .roadmap_timeline p {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
  width: 200px;
  line-height: 1.5rem;
}
@media (max-width: 992px) {
  .roadmap_section .roadmap_timeline p {
    position: relative;
    left: 70%;
  }
}
.roadmap_section .purchase_button {
  padding: 100px 0 50px 0;
}
.roadmap_section .purchase_button button {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 20px;
  background: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
  width: 180px;
  border: none;
  color: white;
  font-size: 14px;
  transition: 0.4s ease;
  text-transform: uppercase;
  cursor: pointer;
}
.roadmap_section .purchase_button button:hover {
  background: linear-gradient(90deg, #a754e2 0%, #647dee 100%);
  transition: 0.4s ease;
  transition-property: color, background-color;
}

.Howitworkssection {
  position: relative;
  height: 330px;
  width: 100%;
  z-index: 1;
  background-position: center;
}
.Howitworkssection .imagesection {
  width: 100%;
  height: 330px;
  opacity: 0.4;
  z-index: -1;
  position: absolute;
  background: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
}
.Howitworkssection .image_text {
  width: 50%;
  height: 330px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  color: white;
}
@media (max-width: 576px) {
  .Howitworkssection .image_text {
    width: 90%;
  }
}
.Howitworkssection .image_text h1 {
  font-size: 45px;
  padding: 20px 0;
}
@media (max-width: 576px) {
  .Howitworkssection .image_text h1 {
    font-size: 35px;
    font-weight: 300;
  }
}
.Howitworkssection .image_text p {
  font-size: 20px;
}
@media (max-width: 576px) {
  .Howitworkssection .image_text p {
    font-size: 18px;
  }
}
.Howitworkssection .image_text button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
  border: none;
  cursor: pointer;
}
.Howitworkssection .image_text .playbuttonicon {
  font-size: 35px;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
}

.safecard_section {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.safecard_section .icons {
  font-size: 70px;
  color: rgb(87, 87, 203);
  height: 140px;
  width: 140px;
  border: 2px dashed rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.safecard_section .h1 {
  margin: 30px 0 0 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.safecard_section .desc {
  margin: 15px 0px 0 0;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.safeitspagemain h1 {
  text-align: center;
  padding: 50px 0 0 0;
  font-size: 50px;
  font-weight: 200;
  position: relative;
}
.safeitspagemain h1::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  background-image: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
}
@media (max-width: 576px) {
  .safeitspagemain h1 {
    font-size: 40px;
  }
}
.safeitspagemain .safecards {
  width: 70%;
  margin: auto;
  display: flex;
}
@media (max-width: 992px) {
  .safeitspagemain .safecards {
    display: flex;
    flex-direction: column;
  }
}

.tempfeaturepage_sec {
  height: 650px;
  background: linear-gradient(90deg, rgba(100, 125, 238, 0.05) 0%, rgba(167, 84, 226, 0.05) 100%);
}
@media (max-width: 992px) {
  .tempfeaturepage_sec {
    height: 900px;
  }
}
.tempfeaturepage_sec h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 200;
  padding: 100px 0 0 0;
}
@media (max-width: 576px) {
  .tempfeaturepage_sec h1 {
    font-size: 35px;
  }
}
.tempfeaturepage_sec .your_tagline {
  text-align: center;
  font-size: 25px;
  color: blue;
  padding: 20px 0 0 0;
  position: relative;
}
.tempfeaturepage_sec .your_tagline::before {
  content: "";
  position: absolute;
  width: 70px;
  height: 3px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  background-image: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
}
.tempfeaturepage_sec .feature_para {
  width: 40%;
  margin: auto;
  padding: 30px 0 0 0;
  font-size: 18px;
  line-height: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 576px) {
  .tempfeaturepage_sec .feature_para {
    width: 80%;
  }
}
.tempfeaturepage_sec .second_para {
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: auto;
  font-size: 18px;
  line-height: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 0 0 0;
}
@media (max-width: 576px) {
  .tempfeaturepage_sec .second_para {
    width: 80%;
  }
}
.tempfeaturepage_sec .third_para {
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: auto;
  font-size: 18px;
  line-height: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 0 50px 0;
}
@media (max-width: 576px) {
  .tempfeaturepage_sec .third_para {
    width: 80%;
  }
}
.tempfeaturepage_sec button {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-radius: 20px;
  background: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
  width: 180px;
  border: none;
  color: white;
  font-size: 14px;
  transition: 0.4s ease;
  text-transform: uppercase;
  cursor: pointer;
}
.tempfeaturepage_sec button:hover {
  background: linear-gradient(90deg, #a754e2 0%, #647dee 100%);
  transition: 0.4s ease;
  transition-property: color, background-color;
}

.count_section {
  position: relative;
  height: 230px;
  width: 100%;
  z-index: 1;
}
@media (max-width: 768px) {
  .count_section {
    height: 450px;
  }
}
.count_section .gradient_image {
  width: 100%;
  height: 230px;
  opacity: 0.4;
  z-index: -1;
  position: absolute;
  background: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
}
@media (max-width: 768px) {
  .count_section .gradient_image {
    height: 450px;
  }
}
.count_section .text_section {
  width: 75%;
  margin: auto;
  height: 230px;
  display: flex;
}
@media (max-width: 768px) {
  .count_section .text_section {
    display: flex;
    flex-wrap: wrap;
    height: 450px;
  }
}
.count_section .text_section .one {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: white;
}
.count_section .text_section .one h1 {
  font-size: 60px;
  font-weight: 300;
}
@media (max-width: 576px) {
  .count_section .text_section .one h1 {
    font-size: 45px;
  }
}
.count_section .text_section .one p {
  font-size: 22px;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .count_section .text_section .one p {
    font-size: 20px;
  }
}

.advisor_section h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 300;
  padding: 50px 0 0 0;
}
@media (max-width: 576px) {
  .advisor_section h1 {
    font-size: 40px;
  }
}
.advisor_section .advisor_text {
  font-family: Arial, Helvetica, sans-serif;
  width: 40%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  padding: 20px 0 30px 0;
  line-height: 2rem;
  position: relative;
}
.advisor_section .advisor_text::after {
  content: "";
  position: absolute;
  width: 80px;
  left: 50%;
  top: 90px;
  height: 4px;
  transform: translateX(-50%);
  border-radius: 3px;
  background-image: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
}
@media (max-width: 576px) {
  .advisor_section .advisor_text {
    width: 90%;
    font-size: 15px;
    line-height: 1.4rem;
  }
}
.advisor_section .profilecards {
  display: flex;
  width: 70%;
  margin: auto;
  gap: 30px;
  padding: 30px 0 0 0;
}
@media (max-width: 992px) {
  .advisor_section .profilecards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.Advisorscard {
  height: 380px;
  width: 350px;
  border: 2px solid rgb(108, 108, 250);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: linear-gradient(90deg, rgba(100, 125, 238, 0.05) 0%, rgba(167, 84, 226, 0.05) 100%);
}
.Advisorscard .advisor_name {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0 10px 0;
}
.Advisorscard .advisor_bio {
  font-size: 20px;
  color: rgb(158, 132, 249);
}
.ourteam_section h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 200;
}
@media (max-width: 768px) {
  .ourteam_section h1 {
    font-size: 40px;
  }
}
.ourteam_section .ourteam_para {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px;
  line-height: 1.8rem;
}
@media (max-width: 768px) {
  .ourteam_section .ourteam_para {
    width: 90%;
    line-height: 1.5rem;
  }
}
.ourteam_section .team_cards {
  width: 70%;
  margin: auto;
  display: flex;
  gap: 30px;
}
@media (max-width: 992px) {
  .ourteam_section .team_cards {
    display: flex;
    flex-wrap: wrap;
  }
}
.ourteam_section .team_cards .member1_card {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 2px solid rgb(125, 125, 250);
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(100, 125, 238, 0.05) 0%, rgba(167, 84, 226, 0.05) 100%);
}
@media (max-width: 992px) {
  .ourteam_section .team_cards .member1_card {
    width: 300px;
  }
}
.ourteam_section .team_cards .member1_card ul {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.ourteam_section .team_cards .member1_card ul .instagram {
  color: rgb(251, 120, 142);
  list-style-type: none;
  padding: 10px;
}
.ourteam_section .team_cards .member1_card ul .linkedin {
  color: rgb(146, 146, 246);
  list-style-type: none;
  padding: 10px;
}
.ourteam_section .team_cards .member1_card ul .facebook {
  list-style-type: none;
  color: rgb(67, 67, 253);
  padding: 10px;
}
.ourteam_section .team_cards .member1_card ul .twitter {
  list-style-type: none;
  color: blueviolet;
  padding: 10px;
}

.tabchange_sec {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
@media (max-width: 576px) {
  .tabchange_sec {
    height: 1150px;
  }
}
.tabchange_sec .tabchange_headings button {
  font-size: 20px;
  height: 40px;
  width: 100px;
  border: none;
}
@media (max-width: 576px) {
  .tabchange_sec .tabchange_headings button {
    width: 70px;
  }
}

.content1_sec {
  display: flex;
  margin: auto;
  padding: 20px;
}
@media (max-width: 576px) {
  .content1_sec {
    height: 100svh;
    display: flex;
    flex-wrap: wrap;
  }
}
.content1_sec .content_cards {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 250px;
  border: 2px solid rgb(171, 171, 248);
  transition: 0.4s ease;
  transition-property: color, background-color, border-color;
}
@media (max-width: 992px) {
  .content1_sec .content_cards {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 220px;
    width: 300px;
  }
}
.content1_sec .content_cards p {
  padding: 5px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.content1_sec .content_cards button {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 35px;
  border-radius: 20px;
  background: linear-gradient(90deg, #647dee 0%, #a754e2 100%);
  width: 100px;
  border: none;
  color: white;
  font-size: 15px;
  transition: 0.4s ease;
  text-transform: uppercase;
  cursor: pointer;
}
.content1_sec .content_cards button:hover {
  background: linear-gradient(90deg, #a754e2 0%, #647dee 100%);
  transition: 0.4s ease;
  transition-property: color, background-color;
}

.faq_section {
  height: 600px;
  padding: 50px 0;
}
.faq_section h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 200;
}
@media (max-width: 576px) {
  .faq_section h1 {
    font-size: 40px;
  }
}
.faq_section .faq_para {
  text-align: center;
  font-size: 20px;
  width: 50%;
  margin: auto;
  padding: 20px;
}
@media (max-width: 576px) {
  .faq_section .faq_para {
    font-size: 17px;
    width: 90%;
  }
}
.faq_section .faq_b {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: auto;
  width: 80%;
  justify-content: center;
  align-items: flex-start;
}
.faq_section .faq_b .faq_buttons {
  border: 2px solid #647dee;
  border-radius: 20px;
}
.faq_section .faq_b .faq_buttons .pa {
  font-size: 17px;
  width: 450px;
  height: 100px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: 0.4s ease;
}
.faq_section .faq_b .faq_buttons .pa.show {
  animation: ani 1s ease;
}
@keyframes ani {
  100% {
    top: 0%;
  }
}
@media (max-width: 576px) {
  .faq_section .faq_b .faq_buttons .pa {
    width: 350px;
  }
}
.faq_section .faq_b .faq_buttons button {
  font-size: 15px;
  border-radius: 20px;
  border: none;
  width: 450px;
  height: 60px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
@media (max-width: 576px) {
  .faq_section .faq_b .faq_buttons button {
    width: 350px;
    font-size: 14px;
  }
}
.faq_section .faq_b .faq_buttons button span {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 0 0 10px;
}
.faq_section .faq_b .faq_buttons button .plus_icon {
  margin-right: 20px;
  color: #647dee;
  font-size: 20px;
  transform: rotate(0deg);
  transition: 0.3s ease;
}
.faq_section .faq_b .faq_buttons button .plus_icon.show {
  transform: rotate(90deg);
}
.faq_section .faq_b .faq_buttons button .plus_icon.para2 {
  transform: rotate(90deg);
}
.faq_section .faq_b .faq_buttons button .plus_icon.para3 {
  transform: rotate(90deg);
}
.faq_section .faq_b .faq_buttons button .plus_icon.para4 {
  transform: rotate(90deg);
}
.faq_section .faq_b .faq_buttons button .plus_icon.para5 {
  transform: rotate(90deg);
}
.faq_section .faq_b .faq_buttons button .plus_icon.para6 {
  transform: rotate(90deg);
}/*# sourceMappingURL=index.css.map */